[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=M2 Kiosk App 
Comment=Cardano payment app
Icon=/usr/share/m2-kiosk-app/static/m2-kiosk-app.xpm
Exec=m2-kiosk-app
Terminal=false
Categories=Tags;Describing;Application
